.slider_container {
 
   padding: 0 10%;
    width: 100%;
  }
  
  .slider_container > h3 {
    padding-bottom: 1rem;
    color: var(--text);
    font-size: 1.4rem;
  }
  
  .slick-next:before,
  .slick-prev:before {
   
    color: var(--accent) !important;
  
  }

  .slick-arrow:before{
   font-size: 30px !important;
  
  }
  
  