.slider_container {
 
   padding: 0 10%;
    width: 100%;
    position: relative;
  }
  
  .slider_container > h3 {
    padding-bottom: 0.3rem;
    color: var(--text);
    font-size: 1.4rem;
  }
  
  .slick-next:before,
  .slick-prev:before {
   
    color: var(--accent) !important;
  
  }

  .slick-arrow:before{
   font-size: 25px !important;
  
  }

@media only screen and (max-width:360px){
  .slick-arrow:before{
    font-size: 20px !important;
   
   }
}
  
  