.container {
  margin: 3rem 0;
}

.container > div {
  margin: 3rem 0;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  place-items: center;

  padding: 0 10%;
}

.right_img img{
filter : drop-shadow(0 0 1rem var(--black))
}

.left_txt > h2 {
  font-family: "Poppins", sans-serif;
  display: block;
  font-size: clamp(1.75rem, 2vw + 1rem, 4rem);
  text-transform: capitalize;
  color: var(--text);
  letter-spacing: 5px;
  text-wrap: balance;
}
.left_txt > h2 span {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right_img img {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 1410px) {
  .grid_wrapper {
 
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    align-content: center;
  }
  .left_txt h2 {
    text-align: center;
  }

  .right_img img {
    width: 100%;

    margin: 0 auto;
  }
}
