.search_bar_container {
  min-height: 10dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 3rem 0;
  padding: 0 2rem;
}

.input {
  min-width: 200px;
  width: 300px;
  max-width: 350px;

  padding: 0.625rem;
  border-radius: 1rem;
  border: none;
  outline: 2px solid var(--primary);
  background-color: aliceblue;
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus {
  box-shadow: inset 0 0 5px var(--primary);
  transition: 0.1s ease;
}
