.film_container {
  width: 100%;

  display: flex;
  flex-direction: column;


  padding: 0 2%;
}

.shows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
padding-bottom: 3rem;
}

.mostRecentMovies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
 }

 .buttonLoadMore{
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, var(--accent), #40e495, #30dd8a, var(--primary));
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
 }

 .buttonLoadMore:hover{
  background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
 }
 .errorMessage{
  color: red;
  text-align: center;
 }