.film_container {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 0 5%;
}

.film_container h3 {
  padding-bottom: 0.5rem ;
}

.shows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
gap: 0.4rem;
padding: 2rem 0;
}

.mostRecentMovies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  gap: 0.4rem;
  
 }

 .buttonLoadMore{
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, var(--accent), #40e495, #30dd8a, var(--primary));
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
 }

 .buttonLoadMore:hover{
  background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
 }
 .errorMessage{
  color: red;
  text-align: center;
 }

 @media only screen and ( max-width : 574px){
  .mostRecentMovies{
 
    gap: 1rem;
    margin: 0 auto;
    place-items: center;
    padding: 0;
  }

  .film_container{
width: fit-content;
    margin: 0 auto;
  }


 }