/**Reset universel*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  border: none;
  /* outline: 2px solid red; */ /* À activer pour voir l'espace des éléments*/
}

html,
body {
  width: 100%;
  height: 100%;
 background-color: var(--background);
 overflow-y: scroll; /* Empêche la ScrollBar de pousser le contenu légérement à gauche lors de son apparition*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all; /* Pour empecher la césure */
}

h1,h3{
 
  font-family: "Cinzel Decorative", cursive;
}

p{
  line-height: 150%;

}

:root {

  --text: hsl(184, 60%, 95%);
--background: hsl(183, 92%, 5%);
--primary: hsl(183, 59%, 24%);
--secondary: hsl(357, 85%, 45%);
--accent: hsl(183, 59%, 49%);
--black : hsl(0, 0%, 0%);
--primaryBrighter: hsl(182, 66%, 15%);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--black);
  background-color: var(--black);
  word-break: break-word;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
  transition: all 2s ease;
}

/**Fonts **/

/*Cinzel*/ @import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative:wght@700&family=EB+Garamond:ital@1&family=Great+Vibes&family=Parisienne&family=Playfair+Display+SC:ital@1&family=Tangerine:wght@700&display=swap");

/*Poppins*/ @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); 
