/**Reset universel*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  border: none;
  /* outline: 2px solid red;  */
}

html,
body {
  width: 100%;
  height: 100%;

  background: rgb(13, 63, 63);
  background: radial-gradient(
    circle,
    rgba(13, 63, 63, 1) 0%,
    rgba(1, 33, 35, 1) 73%
  );
  overflow-y: scroll; /* Empêche la ScrollBar de pousser le contenu légérement à gauche lors de son apparition*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
}

h1,
h3 {
  color: var(--text);
  font-family: "Cinzel", sans-serif;
}

p {
  line-height: 150%;
}

:root {
  --text: hsl(184, 60%, 95%);
  --background: #012123;
  --primary: hsl(183, 59%, 24%);
  --secondary: hsl(180, 66%, 15%);
  --accent: hsl(183, 59%, 49%);
  --black: hsl(0, 0%, 0%);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--black);
  background-color: var(--black);
  word-break: break-word;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
  transition: all 2s ease;
}

/**Fonts **/
@font-face {
  font-family: "Cinzel";
  src: url("/src/assets/fonts/Cinzel/CinzelDecorative-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins/Poppins-Regular.ttf");
  font-display: swap;
}
