.movie_cards_container {
  display: flex;
  flex-direction: column;

  padding: 0.3rem;
  width: 100%;

}

a {
  width: 100%;
}
.movie_cards_container  img {
  width: 100%;

  box-shadow: 3px 4px 6px -1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  object-fit: contain;
}

.bottom_card {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding:1rem 0.625rem;
  border-radius: 0 0 10px 10px;
  background-color: var(--primaryBrighter);
}

.bottom_card > * {
  margin: 7px;
}

.bottom_card p {
  height: 2rem;
  color: var(--text);
  font-weight: 600;
  font-family: "Poppin", sans-serif;
  word-break: break-word;
  letter-spacing: 0.5px;
  font-size: 1rem;
 
}

.bottom_card hr {
  border: 1px solid rgb(134, 134, 134);
}
/* .movie_cards_container > img:hover {
} */

@media only screen and (max-width : 515px){
  .bottom_card p {
    font-size: 0.8rem;
  }  
}

